attrs
bcrypt
blessed
blinker
blis
boto3
botocore
cached-property
catalogue
cement
certifi
cffi
charset-normalizer
click
colorama
confection
configparser
cryptography
cymem
decorator
docker
docker-compose
dockerpty
docopt
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
fido2
filelock
Flask
Flask-Cors
fsspec
huggingface-hub
idna
itsdangerous
Jinja2
jmespath
jsonschema
langcodes
lxml
MarkupSafe
mpmath
murmurhash
networkx
numpy
packaging
paramiko
pathspec
pathy
preshed
pycparser
pydantic
PyNaCl
pyrsistent
pyspnego
python-dateutil
PyYAML
regex
requests
requests-kerberos
s3transfer
semantic-version
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
sympy
termcolor
texttable
thinc
tokenizers
torch
tqdm
transformers
typer
typing_extensions
urllib3
wasabi
wcwidth
websocket-client
Werkzeug
